html  {
	background-image: 
	url(../imagen/damevida/mountains-190055.jpg);

	width: 100%;
	height: 100%;
	

}
/* comienzo header con grid  desktop */


  @media only screen and (min-width: 1024px)   {
	
 
header {
	
	height: 300px;
	display: grid;
	grid-template-areas: " logo logo logo" 
	"nav nav nav  ";

}
 .logo_small {
	 grid-area: logo;
	 height: 100px;
	 width: 300px;
	 margin-right: 50px;
 }
 ul {
	 grid-area: nav;
	 display: flex;
	 justify-content:space-between; 
	 
	 margin-top: 50px;
	 width: 100%;
	 font-size: 20px;
	 background-color: whie;
	 }
	 .links {
		 color: white;
	 }


	 
 

 /* comienzo grid main */
 
 main {
	
	 display: grid;
	 grid-template-areas: "img img texto texto"
	 "img img texto texto";
 }

 .img {
	 grid: img;
	 margin-top: 30px;
	 margin-bottom: 150px;
	 
 }
 .parrafo {
	 background-color: rgb(65, 65, 121);
	 fill-opacity: initial	;
	 opacity: 0.8;
 }

 
p {
	color: white;
}
 .noticias {
	 grid-area: texto;
	 
	 flex-direction: column;
	
	
	 margin-top: 10px;
	 padding-top:10px ;
	 display: flex;
	 
	 flex-wrap: none;
	 font-family: Verdana, Geneva, Tahoma, sans-serif;
	 
 }
 
 
 

/* flex*/
a{
	text-decoration: none;
	color: black;
	
	
	}
	li {
		list-style: none;
		
	}
/* quienes somos body*/
.quienesSomos {
	display: flex;
	columns: 2;
}
.somosparrafo {
	padding-left: 30px;
	display: flex
	;vertical-align: initial;
	 background-color: rgb(65, 65, 121);
	 opacity: 80%;
	 padding-top: px;
	 margin-bottom: 0px;
	 margin-top: 0px;
}
/*que hacemos body */


.quehacemosbody {
	display: grid;
	grid-template-areas: "foto foto" "texto texto";
	background-color: rgb(65, 65, 121);
}
.imagenquehacemos {
	grid-area: foto;
	
	
}
.noticiasquehacemos {
	
	grid-area: texto;
	font-size: 50px;
	background-color: rgb(65, 65, 121);
}
.quehacemosp {
	font-size: 20px;
	
	
	
}
.tituloayuda {
	font-size: 30px;
	color: white;
}

/*NOTICIAS BODY¨*/


.parrafonoticias {
	background-color: rgb(65, 65, 121);
	opacity: 80%;

}

/*contacto booy*/
.maincontacto {
	display: flex;
	justify-content: center;
	
}
.imagencontacto {
	padding-right: 60px;
	padding-top: 50px;
	height: 100px;
	
	
}
.formulario {
	padding-bottom: 
}


/* comienzo footer*/
footer section {
	display: flex;
	justify-content: space-evenly ;
	
	padding: 30px 30px;

	opacity: 0.8;
	margin-top: 80px;
	font-size: 20px;
	height: 50px;
	padding-bottom: 30px;
	background-color: white;
    
width: 96%;

  }



.footer {
	display: flex;
	text-decoration: none;
	color: black;
	
	
	
}
.foteer{
	font-size: 30px;
}
 



 }
  
/*vista mobile */


@media only screen and (max-width: 480px) {

	html {
		background-image:url(../imagen/damevida/boats-3051610_1920.jpg)
		;
	}
	
 body {
	 display: grid;
	 grid-template-areas: "logo""links" "texto""footer";
 }
 .logo {
	 grid-area: logo;
	 width: 70%;
 }
 .secciones {
	 grid-area: links;
	 display: flex;
	 justify-content: flex-start;
	 
 }
 .noticias {
	 grid-area: texto;
	 background-color: rgb(65, 65, 121);
	 opacity: 60%;
	 color: white;
 }
 .footer {
	 grid-area: footer;
 }
   .imagenquehacemos {
	   grid-area: texto;
   }

 /* comienzo header mobile index*/
	
		 li { 
			 list-style: none;
			 color: white;

		  }
		  .links{
			  color: white;
			  text-decoration: none;
		  }

		   /* comienzo main*/ 

		  /* comienzo footer*/

		  footer {
			  background-color: white;
			  opacity: 0.8;
			  display: flex;
			  justify-content: space-evenly;
			 
			  text-decoration: none;
			  
			  font-size: 10px;
		  }
		  .footerContacto {
			  color: black;
			  text-decoration: none;
			  
					  }

					  /* quienesomos mobile*/

					  .imagenQuienes {
						  height: 300px;
					  }


            /*quehacemos mobile*/
			 .imagenquehacemos {
				 height: 100%;
				 width: 100%;
			 } 
			 .nquehacemosp{
				background-color: rgb(65, 65, 121);
				opacity: 60%;
				color: white;
				
				

			 }

			 /* noticias mobile */

			 .imagennoti {
				 height: 100%;
				 width: 100%;
			 }

			 .parrafonoticias {
				 background-color: rgb(65, 65, 121); 
				 
				 
				  }

				  /*contacto mobile */
				  .formulario {
					  display: flex;
					  justify-content: center;
				  }
					  .imagencontacto {
						  padding-left: 80px;
						  margin-top: 30px;
						  margin-bottom: 30px;
					  }
 /* comienzo footer*/

 





 }
	
